body {
  background-image: url('https://images.freecreatives.com/wp-content/uploads/2015/03/21a75583eebde777577803534ad4d671.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

div {
  border: DarkGreen;
  padding: 25px; 
  text-align: center;
}

#example1 {
  box-shadow: 5px 5px DarkOliveGreen;
  background-color: DarkSeaGreen;
}

#example2 {
  box-shadow: 5px 5px DarkKhaki;
  background-color: Bisque;
}

h1 {
  font-family: Georgia, Serif;
  font-style: italic;
  text-align: center;
}

h2 {
  font-family: Garamond, Serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

img {
  style="border: 50px; 
  color: BurlyWood;
  text-align: center;
}

li {
  font-weight: bold;
  font-style: italic;
  margin: 10px;
  text-align: center;
}
