body {
  background-image: url("https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div {
  border: DarkGreen;
  padding: 25px; 
}

#example1 {
  box-shadow: 5px 5px DarkOliveGreen;
  background-color: DarkSeaGreen;
}

#example2 {
  box-shadow: 5px 5px DarkKhaki;
  background-color: Bisque;
}

h1 {
  font-family: Georgia, Serif;
  font-style: italic
}

h2 {
  font-family: Garamond, Serif;
  font-style: italic;
}

img {
  style="border: 50px; 
  color: BurlyWood;
}

li {
  font-weight: bold;
  font-style: italic;
  margin: 10px;
}
